body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #1b1b1b;
    cursor: none;
    overflow: hidden;
}

/*mouse*/

.cursor {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    z-index: 1000;
    animation: cursorAnim 2s infinite alternate;

    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 5px;
        height: 5px;
        background: #fff; //couleur cible
        border-radius: 50%;
        
    }
    
    &:after {
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        border: 8px solid gray; //halo
        border-radius: 50%;
        opacity: .20;
        top: -8px;
        left: -8px;
        animation: cursorAnim2 .5s infinite alternate;
        }

        @keyframes cursorAnim {
            from {
                transform: scale(1);
             rotate: (0deg);   
            }
            to {
                transform: scale(.7);
             rotate: (190deg);   
            }
        }
}